*	{
	width: 100%;
	margin: 0;
	background-color: black;
	overflow-y: auto;
}

.top_bar {
	z-index: 2;
	align-items: center;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 10%;
	background-color: white;
	font-size: 45;
	font-family: 'Nova Flat';
	color: darkblue;	
}

#go_back {
	overflow: hidden;
	font-family: 'Nova Flat';
	top: 10%;
	font-size: 18;
	background-color: white;
	border-color: black;
	width: 10%;
	height: 60%;
	left: 55%;
	color: black;
	border-radius: 25px;
	position: absolute
}

#go_back:hover {
	cursor: pointer;
	background-color: black;
	color: white;	
}

#example {
	overflow: hidden;
	font-family: 'Nova Flat';
	top: 10%;
	font-size: 18;
	background-color: white;
	border-color: black;
	width: 10%;
	height: 60%;
	left: 70%;
	color: black;
	border-radius: 25px;
	position: absolute
}

#example:hover {
	cursor: pointer;
	background-color: black;
	color: white;
}

#how_it_work {
	overflow: hidden;
	font-family: 'Nova Flat';
	top: 10%;
	font-size: 18;
	background-color: white;
	border-color: black;
	width: 10%;
	height: 60%;
	left: 85%;
	color: black;
	border-radius: 25px;
	position: absolute
}

#how_it_work:hover {
	cursor: pointer;
	background-color: black;
	color: white;
}


.main_body {
	overflow: hidden;
	top: 10%;
	background-color: transparent;
	position: absolute;
	width: 100%;
}

.walkthrough {
	overflow: hidden;
	font-family: 'Nova Flat';
	color: black;
	width: 100%;
	height: 1650px;
}

.explanation {
	overflow: hidden;
	background-color: yellow;
	color: black;
	width: 100%;
	height: 380px;
}

.walk_header {
	overflow: hidden;
	align-items: center;
	width: 20%;
	top: 20px;
	left: 2%;
	height: 30px;
	padding: 10;
	font-size: 30;
	text-align: center;
	position: absolute;
	background: #18191a;
	color: #FFCB05;
	border-radius: 10px;
}

.first_step {
	overflow: hidden;
	align-items: center;
	width: 20%;
	top: 90px;
	left: 2%;
	height: 630px;
	padding: 10;
	font-size: 17;
	position: absolute;
	color: white;
	background-color:  #18191a;
	border-radius: 10px;
}

.second_step {
	overflow: hidden;
	align-items: center;
	width: 20%;
	top: 20px;
	left: 26%;
	height: 700px;
	padding: 10;
	font-size: 17;
	position: absolute;
	color: white;
	background-color:  #18191a;
	border-radius: 10px;
}

.image {
	overflow: hidden;
	left: 20%;
	width: 60%;
	top: 140px;
	border-radius: 10px;
	position: absolute
}

.image_2 {
	overflow: hidden;
	left: 20%;
	width: 60%;
	top: 480px;
	border-radius: 10px;
	position: absolute
}

.second_list {
	overflow: hidden;
	background-color: transparent;
}

.grades {
	overflow: hidden;
	top: 20px;
	border-radius: 5px;
	position: relative;
	background-color:  black;
	color: white;
}

.third_step {
	padding: 10;
	border-radius: 10px;
	overflow: hidden;
	left: 50%;
	top: 20px;
	background: #18191a;
	color: white;
	width: 46%;
	position: absolute;
	height: 320px;
	font-size: 15;
}

.image_3 {
	overflow: hidden;
	left: 2.5%;
	width: 55%;
	/*top: 450px;*/
	border-radius: 10px;
	position: absolute
}

.fourth_step {
	padding: 10;
	border-radius: 10px;
	overflow: hidden;
	left: 50%;
	top: 400px;
	background: #18191a;
	color: white;
	width: 46%;
	position: absolute;
	height: 320px;
	font-size: 15;
}

.image_4 {
	overflow: hidden;
	border-radius: 10px;
	top: 10px;
	right: 2.5%;
	width: 30%;
	float: right;
	/*top: 450px;*/
	border-radius: 10px;
	position: absolute
}

.image_5 {
	overflow: hidden;
	border-radius: 10px;
	width: 20%;
	position: absolute;
	right: 2%;
}

.image_6 {
	overflow: hidden;
	border-radius: 10px;
	width: 40%;
	position: absolute;
	top: 128px;
	left: 10%;
}

.fifth_step {
	padding: 10;
	border-radius: 10px;
	overflow: hidden;
	left: 2%;
	top: 775px;
	background: #18191a;
	color: white;
	width: 44%;
	position: absolute;
	height: 800px;
}

.image_7 {
	overflow: hidden;
	border-radius: 10px;
	width: 20%;
	position: absolute;
	right: -0.5%;
}

.image_8 {
	overflow: hidden;
	border-radius: 10px;
	width: 60%;
	position: absolute;
	left: 5%;
}

.image_9 {
	overflow: hidden;
	border-radius: 10px;
	width: 50%;
	position: absolute;
	right: 5%;
}

.image_10 {
	overflow: hidden;
	border-radius: 10px;
	width: 30%;
	position: absolute;
	left: 5%;
}

.sixth_step {
	font-size: 15;
	padding: 10;
	border-radius: 10px;
	overflow: hidden;
	right: 2.5%;
	top: 775px;
	background: #18191a;
	color: white;
	width: 46%;
	position: absolute;
	height: 800px;
}

.image_11 {
	overflow: hidden;
	border-radius: 2px;
	width: 25%;
	top: 0;
	position: absolute;
	right: -1%;
}

.image_12 {
	overflow: hidden;
	border-radius: 10px;
	width: 60%;
	position: absolute;
	left: 5%;
}

.image_13 {
	overflow: hidden;
	border-radius: 10px;
	width: 30%;
	position: absolute;
	bottom: 4%;
	left: 5%;	
}

.image_14 {
	overflow: hidden;
	border-radius: 10px;
	width: 50%;
	position: absolute;
	bottom: -1%;
	right: 1%;	
}

.image_15 {
	overflow: hidden;
	border-radius: 10px;
	width: 15%;
	position: absolute;
	bottom: 18%;
	right: 35%;
}

.image_16 {
	overflow: hidden;
	border-radius: 10px;
	width: 15%;
	position: absolute;
	bottom: 18%;
	right: 5%;
}